{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>ООО «Брасовский машзавод» ведет свою деятельность по пяти направлениям:</h1>
<ol class="content-ol">
	<li>производство оборудования, в том числе нестандартизированного по чертежам заказчика, для нефтехимической промышленности и атомных станций.</li>
	<li>изготовление металлоконструкций, кассетного профиля и профлиста, строительно-монтажные работы.</li>
	<li>монтаж, изготовление оборудования и техническое обслуживание систем вентиляции и кондиционирования.</li>
	<li>обеспечение мероприятий по выполнению международных договоров и обязательств о сокращении и ограничении вооружений.</li>
	<li>выполнение работ и изготовление оборудования для нужд министерства обороны РФ.</li>
</ol>
{% endblock %}
